<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Practice Focus</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery, client.js and css -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/client.js"></script>
    <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-calable=0"/>
  </head>
    <h3>Practice Focus</h3><br>
    
    
    
    <div id="one">
    Your Goal?<br><textarea rows='1' cols='30'></textarea><br><button id="goal">Goal Achieved</button>
    <br><br>
    <img id="image">
    <div id="arrows"></div>
    <button id="up">^</button><button id="down">V</button><!-- <button id="next">Next</button>  -->
    <div id="arrowSubmit"></div>
    </div>
    
<!--     <button id="change">*</button>
 -->    <textarea id="length"></textarea>
    
    
 <script type="text/javascript">
    google_ad_client = "ca-pub-8614131792857847";
    google_ad_slot = "3897068872";
    google_ad_width = 300;
    google_ad_height = 250;
</script>
<!-- PracticeFocus -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </body>
</html>
